.main-header {
  box-sizing: border-box;
  padding-top: 16px;
  min-height: 214px;
  background-color: #ffffff;
}

.main-header__row {
  display: flex;
  align-items: flex-end;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.main-header__left {
  width: 25%;
}

.main-header__center {
  box-sizing: border-box;
  width: 50%;
  padding-right: 43px;
  padding-bottom: 11px;
  text-align: right;
}

.main-header__right {
  width: 25%;
  padding-bottom: 9px;
  text-align: right;
}

.main-header__logo {
  display: block;
}

.main-header__img {
  display: block;
  width: 232px;
  height: 122px;
}

.main-header__calc-cost-link {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.5px;
  font-variant: small-caps;
  text-decoration: none;
  color: @light-orange;
  background: linear-gradient(to bottom, transparent 0%, transparent 87%, @orange 87%, @orange 92%, transparent 92%, transparent 100%);
}

.main-header__time-work {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 3px;
  font-size: 16px;
  line-height: 18px;
  color: @contacts-color;
}

.main-header__tel {
  font-size: 31px;
  line-height: 33px;
  color: @contacts-color;
  text-decoration: none;
}
